<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ABCLogisticsEntities" connectionString="metadata=res://*/DA.CustomerData.csdl|res://*/DA.CustomerData.ssdl|res://*/DA.CustomerData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DAOKHAU\SQLEXPRESS;Initial Catalog=ABCLogistics;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ABCLogisticsEntities1" connectionString="metadata=res://*/DA.CustomerData.csdl|res://*/DA.CustomerData.ssdl|res://*/DA.CustomerData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DAOKHAU\SQLEXPRESS;Initial Catalog=ABCLogistics;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ABCLogisticsEntities2" connectionString="metadata=res://*/DA.Data.csdl|res://*/DA.Data.ssdl|res://*/DA.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DAOKHAU\SQLEXPRESS;Initial Catalog=ABCLogistics;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>