<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ABCLogisticEntities" connectionString="metadata=res://*/DA.CustomerEntity.csdl|res://*/DA.CustomerEntity.ssdl|res://*/DA.CustomerEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DAOKHAU\SQLEXPRESS;Initial Catalog=ABCLogistic;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>