<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
<connectionStrings><add name="ABCLogisticEntities1" connectionString="metadata=res://*/DA.CuatomerData.csdl|res://*/DA.CuatomerData.ssdl|res://*/DA.CuatomerData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DAOKHAU\SQLEXPRESS;Initial Catalog=ABCLogistic;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>